
<mat-toolbar color="primary">
    <div class="left-menu">
        <div class="img">
            <img src="../../../assets/images/International_Pokémon_logo.svg.png" alt="">
        </div>
    </div>
    <div class="buttons">
        <button (click)="pokemons()" mat-button color=""><mat-icon>catching_pokemon</mat-icon> Pokemons</button>
        <button (click)="search()" mat-button color=""><mat-icon>search</mat-icon> Pesquisar</button>
        <button (click)="categories()" mat-button color=""><mat-icon>menu</mat-icon> Categoria</button>
        <button (click)="favorites()" mat-button color=""><mat-icon>favorite_border</mat-icon> Favoritos</button>
        
    </div>
</mat-toolbar>

