:host {
  display: block;
  background-color: #f5f5f5;
  
}
.content {
  display: grid;
  justify-content: center;
  padding-top: 1rem;
  min-height: calc(100vh - 10rem);

  .cards-grid {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    gap: 10px;
  }
}
.pagination {
  margin-top: 2rem;
  display: flex;
  width: 100%;
  justify-content: end;
  background-color: #fff;
}
